@import 'global-variables';

html,
body {
    background-color: #16222f;
    color: $text-color;
}

.#{$css-namespace} {
    @import 'spacing';
    .ui.hidden.image,
    .ui.hidden.images {
        display: none !important;
    }
    .pushable > .pusher {
        padding-bottom: 20px;
    }
    .content-box {
        @include content-box();

        &.placeholder-segment {
            min-height: 500px;
            .inverted.placeholder,
            .inverted.placeholder .image.header:after,
            .inverted.placeholder .line,
            .inverted.placeholder .line:after,
            .inverted.placeholder > :before {
                background-color: #212b37;
            }
        }
    }
}
