@import '../../styles/global-variables.scss';

.#{$css-namespace} {
    .fixed-height {
        height: 100vh;
    }
    .nav-menu {
        padding: 0;

        .bg-menu {
            .item {
                color: $link-color;
                height: $menu-height;
                text-transform: uppercase;
                min-width: 120px;
                justify-content: center;
                &:hover,
                &:active {
                    color: $link-color-active !important;
                }
                &.active {
                    color: $link-color-active !important;
                    border-color: $link-border-color !important;
                    background: rgb(2, 175, 254) !important;
                    background: radial-gradient(
                        circle at center bottom,
                        rgba(2, 175, 254, 0.4) 0%,
                        rgba(2, 175, 254, 0) 50%
                    ) !important;
                    &:hover,
                    &:active {
                        color: $link-color-active !important;
                        border-color: $link-border-color !important;
                    }
                }
            }

            .ui.pointing.secondary.menu {
                .item {
                    &:first-child {
                        margin-left: 20px;
                    }
                    &:last-child {
                        margin-right: 20px;
                    }
                }
            }

            &.fixed {
                .bg-menu {
                    .item {
                        height: auto;
                    }
                }
            }
        }

        &.desktop {
            padding-top: 2em;
            height: calc(#{$menu-height} + 2px + 2em);
            .bg-menu {
                .menu.secondary.pointing {
                    min-height: $menu-height;
                    @include content-box();
                }
                .fixed {
                    min-height: 0;
                }
            }
            .menu.secondary.pointing {
                .bg-menu {
                    .item {
                        height: 3em;
                        &:first-child {
                            margin-left: 20px;
                        }
                        &:last-child {
                            margin-right: 20px;
                        }
                    }
                }
            }
            &.nav-fixed {
                border: 2px solid transparent;
                .menu.secondary.pointing {
                    @include content-box();
                    .bg-menu {
                        @include border-radius(0);
                        @include box-shadow(0, 0, 0, 0, transparent);
                        border-top: none !important;
                        background: transparent;
                        .item {
                            height: 3em;
                            &:first-child {
                                margin-left: 20px;
                            }
                            &:last-child {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }

        &.mobile {
            margin: 0;
            .menu.secondary.pointing {
                .bg-menu {
                    min-height: 4em;

                    .item {
                        margin: 0;
                        height: 4em;
                        min-width: 0;
                    }
                }
            }
        }
    }
}
