@import '../../../styles/global-variables.scss';

.#{$css-namespace} {
    .nav-menu {
        padding: 0;

        &.pushed {
            margin-top: 2em;
        }
    }
    .bg-menu.secondary.pointing {
        min-height: $menu-height;
        @include border-radius($section-border-radius);
        padding: 0 20px;
        @include content-box();
        margin-bottom: 2em;

        a.item {
            color: $link-color;
            height: $menu-height;
            text-transform: uppercase;
            min-width: 100px;
            justify-content: center;
            &:hover,
            &:active {
                color: $link-color-active;
            }
            &.active {
                color: $link-color-active;
                border-color: $link-border-color;
                background: rgb(2, 175, 254);
                background: radial-gradient(
                    circle at center bottom,
                    rgba(2, 175, 254, 0.4) 0%,
                    rgba(2, 175, 254, 0) 50%
                );
                &:hover,
                &:active {
                    color: $link-color-active;
                    border-color: $link-border-color;
                }
            }
        }
    }
}
